@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Koulen', sans-serif;
}

#hero{
  width: 100%;
  height: 610px;
  background: url('./home.jpg') no-repeat center / cover;
  color:#543737;
  background-size: cover;
  background-position: center;
}

.container{
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container .info h1{
  font-size: 3rem;
  margin-bottom: 15 rem;
}
.container .info h2{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.container .info p{
  font-size: 1.2rem;
  max-width: 60%;
  margin-bottom: 3rem;
}
.cta {
  text-decoration: none;
  color: white;
}
.cta button{
  float: right;
  margin-left: 20px;
  margin-bottom: 15rem;
  padding: 1px 25px;
  background-color: rgba(61, 153, 61, 1);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: 'Koulen', sans-serif;
  color: white;
  font-size: 20px;
}
.cta button:hover{
  background-color: rgba(46, 142, 46, 0.8);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  header{
    background-color:#005FEE;
    color:white;
    display:flex;
    justify-content:flex-start;
    align-items: baseline;
    padding: 30px 10%;
  }  
   .container {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
  }

  .logo{
    font-family: 'Koulen', sans-serif;
    font-size: 60px;
    color: #edf0f1;
    width: 150px;
    cursor: pointer;
    margin-top: 16px;
    margin-right: 50px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav ul li {
    margin-right: 20px;
    padding: 0px 20px;
  }

  nav ul li a {
    text-decoration: none;
    font-family: 'Koulen', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  nav ul li a:hover{
    color: #a3a1a1;
  }
  



  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .cta {
      margin-top: 10px;
    }
    html{
      font-size: 10px;
    }
  }
